# develop or production
NODE_ENV=develop

# server port
PORT=8081

# database info
DATABASE_USER="your_database_user"
DATABASE_PASSWORD="your_database_password"
DATABASE_NAME="readme_generator"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# github token
GITHUB_TOKEN=your_github_token

# ai provider info
OPEN_AI_BASE_COMPATIBLE_URL=http://urlAddress/v1
OPEN_AI_API_COMPATIBLE_KEY=provider_api_key
MODEL=your_model

